main {
  display: flex;
  flex-direction: row;
}

.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  list-style: none;
  padding: 0;
}

.round .spacer{ flex-grow: 1; }
.round .spacer:first-child,
.round .spacer:last-child{ flex-grow: .5; }

.round .game-spacer {
    flex-grow: 1;
}

.round .game-spacer-link {
  flex-grow: 1;
}

body {
  font-family: sans-serif;
  font-size: small;
  padding: 10px;
  line-height: 1.4em;
}

li a {
  text-decoration: none;
}


li.game {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li.game.winner {
    font-weight: bold;
    color: lime;
}

li.game span{
    float: right;
    margin-right: 5px;
}

li.game-top {
    border-bottom: 1px solid #BB86FC;
}

li.game-spacer {
    border-right: 1px solid #BB86FC;
    min-height: 40px;
}

li.game-spacer-link {
    border-right: 2px dashed #03DAC5;
    min-height: 40px;
}

li.game-bottom {
    border-top:1px solid #BB86FC;
}

li.game a {
  flex-grow: 1;
}

a {
    color: inherit;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
