body {
    font-family: sans-serif;
}

table {
    border-collapse: separate;
    border-spacing: 6px;
}

td {
    height: 45px;
    max-height: 45px;
    width: 120px;
    max-width: 120px;

    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entrant {
    font-weight: bold;
}

.entrant a {
    text-decoration: none;
}

.win {
    border: 2px solid blanchedalmond;
    border-color: #83e9a1;
    color: #83e9a1;
}

.loss {
    border: 2px solid blanchedalmond;
    border-color: #ea7986;
    color: #ea7986;
}

.uncompleted {
    border: 2px solid blanchedalmond;
    border-color: #BB86FC;
}

.diag {
    border: 2px solid #454545;
    border-color: #454545 !important;
    background-color: #303030;
    text-indent: -9999px;
}

