<link rel="stylesheet" type="text/css" href="/static/bracket.css" />
<link rel="stylesheet" type="text/css" href="/static/general.css" />
<h1>{{bracket.tournament_name}}</h1>
</br>
<h2>Upper bracket</h2>
<main id="tournament">
  {% for round in bracket.rounds.keys()|sort %}
    {% if round > 0 %}
      <ul class="round round-{{ round }}">
	<li class="spacer">&nbsp;</li>
	{% for set in bracket.rounds[round] %}
	  {% set upper_entrant = set.upper_slot.entrant %}
	  {% set lower_entrant = set.lower_slot.entrant %}
	  <li class="game game-top {{'winner' if upper_entrant.id == set.winner_id}}">
	    <a href="/user/{{ upper_entrant.participant_id }}">{{ upper_entrant.name }}</a>
	    <span>{{ upper_entrant.score }}</span>
	  </li>
	  {% if set.stream is string() %}
		  <a href="{{set.stream}}"><li class="game game-spacer-link">&nbsp;</li></a>
	  {% else %}
		  <li class="game game-spacer">&nbsp;</li>
	  {% endif %}
	  <li class="game game-bottom {{'winner' if lower_entrant.id == set.winner_id}}">
	    <a href="/user/{{ lower_entrant.participant_id }}">{{ lower_entrant.name }}</a>
	    <span>{{ lower_entrant.score }}</span>
	  </li>
	  <li class="spacer">&nbsp;</li>
	{% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
</main>

<h2>Lower bracket</h2>
<main id="tournament">
  {% for round in bracket.rounds.keys()|sort(reverse=True) %}
    {% if round < 1 %}
      <ul class="round round-{{ round }}">
	<li class="spacer">&nbsp;</li>
	{% for set in bracket.rounds[round] %}
	  {% set upper_entrant = set.upper_slot.entrant %}
	  {% set lower_entrant = set.lower_slot.entrant %}

	  <li class="game game-top {{'winner' if upper_entrant.id == set.winner_id}}">
	    <a href="/user/{{ upper_entrant.participant_id }}">{{ upper_entrant.name }}</a>
	    <span>{{ upper_entrant.score }}</span>
	  </li>
	  {% if set.stream is string() %}
		  <a href="{{set.stream}}"><li class="game game-spacer-link">&nbsp;</li></a>
	  {% else %}
		  <li class="game game-spacer">&nbsp;</li>
	  {% endif %}
	  <li class="game game-bottom {{'winner' if lower_entrant.id == set.winner_id}}">
	    <a href="/user/{{ lower_entrant.participant_id }}">{{ lower_entrant.name }}</a>
	    <span>{{ lower_entrant.score }}</span>
	  </li>
	  <li class="spacer">&nbsp;</li>
	{% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
</main>

{% include 'smashgg_link.jinja2' %}
{% include 'back.html' %}
