<link rel="stylesheet" type="text/css" href="/static/bracket.css" />
<h1>{{bracket.tournament_name}}</h1>
</br>
<h2>Upper bracket</h2>
<main id="tournament">
  {% for round in bracket.rounds.keys()|sort %}
    {% if round > 0 %}
      <ul class="round round-{{ round }}">
	<li class="spacer">&nbsp;</li>
	{% for set in bracket.rounds[round] %}
	  <li class="game game-top {{'winner' if set.upper_slot.entrant.id == set.winner_id}}">
	    {{ set.upper_slot.entrant.name }}
	    <span>{{ set.upper_slot.entrant.score }}</span>
	  </li>
	  <li class="game game-spacer">&nbsp;</li>
	  <li class="game game-bottom {{'winner' if set.lower_slot.entrant_id == set.winner_id}}">
	    {{ set.lower_slot.entrant.name }}
	    <span>{{ set.lower_slot.entrant.score }}</span>
	  </li>
	  <li class="spacer">&nbsp;</li>
	{% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
</main>

<h2>Lower bracket</h2>
<main id="tournament">
  {% for round in bracket.rounds.keys()|sort(reverse=True) %}
    {% if round < 1 %}
      <ul class="round round-{{ round }}">
	<li class="spacer">&nbsp;</li>
	{% for set in bracket.rounds[round] %}
	  <li class="game game-top {{'winner' if set.upper_slot.entrant.id == set.winner_id}}">
	    {{ set.upper_slot.entrant.name }}
	    <span>{{ set.upper_slot.entrant.score }}</span>
	  </li>
	  <li class="game game-spacer">&nbsp;</li>
	  <li class="game game-bottom {{'winner' if set.lower_slot.entrant.id == set.winner_id}}">
	    {{ set.lower_slot.entrant.name }}
	    <span>{{ set.lower_slot.entrant.score }}</span>
	  </li>
	  <li class="spacer">&nbsp;</li>
	{% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
</main>

{% include 'back.html' %}
