<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/general.css" />

<h1>Coming tournaments</h1>
{% for date in coming_tournaments %}
  <h3>{{ date[0].date.strftime('%A %Y-%m-%d') }}</h3>

  {% for tournament in date %}
    <a href="/bracket/{{ tournament.id }}">{{ tournament.name }}</a></br>
  {% endfor %}
{% endfor %}

{% include 'back.html' %}
