<meta name="viewport" content="width=device-width, initial-scale=1">
{% for event in events %}
  <a href="{{ url_path }}/{{ event }}">{{ events[event] }}</a></br>
{% endfor %}
{% include 'back.html' %}
