<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/general.css" />
{% for event in events %}
  <a href="{{ url_path }}/{{ event }}">{{ events[event] }}</a></br>
{% endfor %}

{% include 'smashgg_link.jinja2' %}
{% include 'back.html' %}
