<meta name="viewport" content="width=device-width, initial-scale=1">

<span class="phase-groups">
  {% for phase_group in phase_groups %}
    <a href="{{ url_path }}/{{ phase_group['id'] }}">{{ phase_group['displayIdentifier'] }}</a> Starts: {{phase_group['wave']['startAt']}} 
    &emsp;&emsp;
    {% for entrant in phase_group['seeds']['nodes'] %}
      {{ entrant['entrant']['participants'][0]['gamerTag']}}
      &nbsp;
    {% endfor %}
    </br>
  {% endfor %}
</span>
{% include 'back.html' %}

<style>
  .phase-groups {
    white-space: nowrap; 
  }
</style>
