<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/general.css" />

<h2>Results for search: {{search}}</h2>
{% for tournament in tournaments %}
  <a id="{{tournament.id}}" onclick="return toStorage({{tournament.id}})" href="/bracket/{{tournament.id}}">{{ tournament.name }}</a></br>
{% endfor %}
</br>
<h3>Couldn't find your tournament?</h3>
{% include 'search.jinja2' %}

<script>
function toStorage(tournament_id) {
  let path = '/bracket/'+tournament_id;
  let timestamp = new Date();
  timestamp = timestamp.getTime();
  let tournament_name = document.getElementById(tournament_id).innerHTML

  if(localStorage.getItem('visited_tournaments')) {
    let visited_tournaments = JSON.parse(localStorage.getItem('visited_tournaments'));
    
    let check_for_tournament = visited_tournaments.filter(obj => {
      return obj.path == path
    })

    if(!check_for_tournament[0]) {
      visited_tournaments.push({
        path: path,
        timestamp: timestamp,
        name: tournament_name
      })
    }

    localStorage.setItem('visited_tournaments', JSON.stringify(visited_tournaments))
  } else {
    let visited_tournaments = [{
      path: path,
      timestamp: timestamp,
      name: tournament_name
    }]
    localStorage.setItem('visited_tournaments', JSON.stringify(visited_tournaments))
  }
}
</script>