<style>
  .whomst {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  }

  table, th, td {
  border: 1px solid black;
  }
</style>

<table class="whomst">
  <tr>
    <td>Display name</td>
    <td>Connect code</td>
    <td>IP-address</td>
    <td>Area</td>
    <td>Timestamp</td>
    <td>Note</td>
  </tr>
  {% for whomst in whomsts %}
    <tr>
      <td id="display_name{{ loop.index }}">
	{{ whomst['display_name'] }}
      </td>
      <td id="connect_code{{ loop.index }}">
	<a href="/whomst/search/connect_code/{{ whomst['connect_code'] | replace("#", "_") }}">
	  {{ whomst['connect_code'] }}
	</a>
      </td>
      <td id="ip_address{{ loop.index }}">
	<a href="/whomst/search/ip_address/{{ whomst['ip_address'] }}/24">
	  {{ whomst['ip_address'] }}
	</a>
      </td>
      <td>
	{{ whomst['region'] }}
      </td>
      <td>
	{{ whomst['time_added'] }}
      </td>
      <td class="note" id="note{{ loop.index }}">
	{{ whomst['note'] if whomst['note'] }}
      </td>
    </tr>
  {% endfor %}
</table>

</br>

<table class="whomst">
  <tr>
    <td class="mask" id="mask8">
      8
    </td>
    <td class="mask" id="mask16">
      16
    </td>
    <td class="mask" id="mask24">
      24
    </td>
    <td class="mask" id="mask32">
      32
    </td>
  </tr>
</table>

<script>
  let notes = document.getElementsByClassName("note");
  for (let i = 0; i < notes.length; ++i) {
    notes[i].addEventListener("click", note);
  }

  function note() {
    let id = this.id.substring("note".length);
    let note_content = prompt("whomst note be:");

    let display_name = document.getElementById("display_name" + id).innerText;
    let connect_code = document.getElementById("connect_code" + id).innerText;
    let ip_address = document.getElementById("ip_address" + id).innerText;

    let xhr = new XMLHttpRequest();
    let url = "/whomst/note";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    let data = JSON.stringify({
      "note": note_content,
      "display_name": display_name,
      "connect_code": connect_code,
      "ip_address": ip_address,
    });
    xhr.send(data);

    this.innerText = note_content;
  }

  let masks = document.getElementsByClassName("mask");
  for (let i = 0; i < masks.length; ++i) {
    masks[i].addEventListener("click", mask);
  }

  function mask() {
    let url = window.location.href;
    if (url.indexOf("ip_address") == -1) {
      return;
    }
    let mask_content = this.id.substring("mask".length);
    window.location.href = url.substring(url, url.length - 2) + mask_content;
  }
</script>
